/* CSS Reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: sans-serif;
  max-width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
  font-size: 100%;
  font-family: inherit;
}

:root {
  --sandy-brown: #fcaa67ff;
  --medium-carmine: #b0413eff;
  --cream: #ffffc7ff;
  --steel-teal: #548687ff;
  --old-burgundy: #473335ff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  max-width: 100vw;
  background-color: var(--steel-teal);
}

header h1 {
  font-size: 2rem;
  color: var(--old-burgundy);
  padding: 0 0 0 2rem;
}

#port-style {
  color: var(--cream);
}

nav {
  padding: 0 2rem 0 0;
}

nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
}

nav li {
  margin: 0 1rem 0 1rem;
}

nav a:link {
  color: var(--old-burgundy);
}

nav a:visited {
  color: var(--old-burgundy);
}

nav a:hover {
  color: var(--cream);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 100vw;
  max-height: 30vh;
}

.hero > img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

main {
  max-width: 100%;
}

.wrapper-bio {
  display: grid;
  grid-template-columns: 9% 89%;
  margin: 2rem 0 2rem 0;
  column-gap: 2%;
  max-width: 100%;
}

.wrapper-bio > h2 {
  text-align: center right;
  padding-left: 1.5rem;
  border-right: solid black 3px;
}

.bio {
  background-color: var(--old-burgundy);
  padding: 1rem;
  color: var(--cream);
  line-height: 1.5rem;
  height: 8rem;
  max-width: 100%;
}

.project-container {
  max-width: 100%;
  display: grid;
  grid-template-columns: 9% 89%;
  grid-gap: 2%;
}

.project-container > h2 {
  text-align: center right;
  padding-left: 1.5rem;
  border-right: solid black 3px;
  grid-row: 1/3;
}

.featured-wrapper {
  position: relative;
}

.featured-img {
  max-width: 100%;
}

@media only screen and (min-width: 1412px) {
  .featured-wrapper {
    display: flex;
    justify-content: center;
  }
  .title-feature {
  max-width: 30%;
  text-align: center;
  position: absolute;
  bottom: 50%;
  right: 70%;
  background-color: var(--old-burgundy);
  color: var(--cream);
  padding: 10px;
  }
}

.title-feature {
  max-width: 30%;
  min-height: 10%;
  position: absolute;
  bottom: 45%;
  background-color: var(--old-burgundy);
  color: var(--cream);
  padding: 10px;
}

.projects-wrapper {
  display: grid;
  grid-template-columns: 44.5% 44.5%;
  column-gap: 11%;
  row-gap: 2%;
  max-width: 100%;
}

.title-projects > h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  max-width: 30%;
  text-align: center;
  position: absolute;
  bottom: 40%;
  background-color: var(--old-burgundy);
  color: var(--cream);
  padding: 10px;
}

.title-projects > span {
  line-height: 1.25rem;
}

.project-img {
  max-height: auto;
  max-width: 100%;
}

footer {
  display: block;
}

.project-wrapper {
  position: relative;
}

.contact-wrapper {
  display:grid;
  grid-template-columns: 9% 89%;
}